._navbar {
    margin-bottom: 30px;
}

/* Style boxes */
body * {
    font-size: 1.20rem;
}

/* body {
    position: relative;
} */

.logo-text {
    font-family: 'Monoton', cursive;
    font-size: 1.8rem;
}

._frontPageElement {
    margin-top: 80px;
    margin-bottom: 60px;

}

._mainGrid {
    margin-bottom: 30px;
    position: relative;
}

._todosBox {
    min-height: 200px;
    position: relative;
}


.wrapper {
    position: relative;
    margin-top: 80px;
    
}

._displayDayBox {
    position: absolute;
    bottom: -15%;
    left: 12%;
    z-index: 5;
    max-height: 100px;
}

._displayDay {
    margin-bottom: 10px;
}

._calendarIcon {
    margin-bottom: 10px;
}

.header {
    padding-top: 8px;
}

._addTask {
    position: absolute;
    bottom: -10%;
    right: 13%;
    z-index: 5;
}

._calendarButtonStyle {
    border: none;
}

._checkboxLine {
    position: relative;
    /* background: red; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
}

.dueUIText {
    text-decoration: underline;
}

.customCalendar {
    min-height: 70vh;
}

@media only screen and (min-width: 767px) {

    .wrapper {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    /* Move calendar icon button to top right */
    ._displayDayBox {
        position: absolute;
        top: 0%;
        left: 79%;
        z-index: 5;
        min-height: 280px;
        padding:5px;
        margin-bottom: 5px;
    }

    ._displayDay {
        margin: 10px 0 10px;
    }

    /* _mainGrid {
        min-height: 100vh;
    } */

    ._todosBox {
        min-height: 300px;
    }
    
    /* Move add task button to bottom right */
    ._addTask {
        position: fixed;
        bottom: 9.5%;
        right: 10%;
        z-index: 5;
    }


}